@use "../config/base" as *;

.form-container {
  width: 50%;

  .form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 2rem;

    .input {
      color: $textPrimary;
      height: 30px;
      padding: 8px;
      font-size: 16px;
      border: none;
      background: transparent;
      border-bottom: 1px solid $textTertiary;
      font-family: $secondaryFont;
    }

    .submit-button {
      font-family: $secondaryFont;
      font-weight: 400;
      color: $primaryColor;
      font-size: 15px;
      background-color: $textSecondary;
      border: none;
      padding: 0.6rem 1.4rem;
      width: auto;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      transition: all 0.3s ease;
      transform-origin: center;
    }

    /* Hover Effect */
    .submit-button:hover {
      background-color: $textTertiary;
      transform: scale(1.02);
    }

    .textarea {
      height: 30px;
      color: $textPrimary;
      background: transparent;
      padding: 8px;
      border: none;
      font-size: 16px;
      overflow: hidden;
      resize: none;
      border-bottom: 1px solid $textTertiary;
      font-family: $secondaryFont;
    }
  }
}

@media screen and (max-width: 1150px) {
  .form-container {
    width: 70%;

    .form {
      gap: 1.5rem;

      .input,
      .textarea {
        font-size: 14px;
        padding: 6px;
      }

      .submit-button {
        font-size: 14px;
        padding: 0.5rem 1rem;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .form-container {
    width: 90%;

    .form {
      gap: 1rem;

      .input,
      .textarea {
        font-size: 13px;
        padding: 5px;
      }

      .submit-button {
        font-size: 13px;
        padding: 0.4rem 0.8rem;
      }
    }
  }
}
