@use "../config/base" as *;

.form-container {
  width: 50%;

  .form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 2rem;

    .input {
      height: 30px;
      padding: 8px;
      font-size: 14px;
      border: none;
      background: transparent;
      border-bottom: 1px solid $textTertiary;
      font-family: $primaryFont;
    }

    .submit-button {
      font-family: $primaryFont;
      font-weight: 300;
      color: $textPrimary;
      font-size: 15px;
      background-color: lighten($textTertiaryTransparent, 15%);
      border: none;
      padding: 0.6rem 1.4rem;
      width: auto;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      transition: all 0.3s ease;
      transform-origin: center;
    }

    /* Hover Effect */
    .submit-button:hover {
      background-color: $textTertiaryTransparent;
      color: $primaryFont;
      transform: scale(1.02);
    }

    .textarea {
      height: 30px;
      background: transparent;
      padding: 8px;
      border: none;
      font-size: 14px;
      overflow: hidden;
      resize: none;
      border-bottom: 1px solid $textTertiary;
      font-family: $primaryFont;
    }
  }
}
