@use "../config/base" as *;

.form-container {
  width: 50%;

  .form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 2rem;

    .input,
    .textarea {
      color: $textPrimary;
      height: 30px;
      padding: 8px;
      font-size: 16px;
      font-weight: 500;
      border: none;
      background: transparent;
      border-bottom: 1px solid $textTertiary;
      font-family: $secondaryFont;

      &::placeholder {
        color: $textPrimary; // Make placeholder text bright white as well
        opacity: 0.8; // Slightly dimmer than the input text for differentiation
      }
    }

    .textarea {
      height: 80px;
      resize: none;
    }

    .file-upload-wrapper {
      display: flex;
      align-items: center;
      gap: 1rem;

      .file-upload-label {
        background-color: $primaryColor;
        color: $textPrimary;
        padding: 0.5rem 1rem;

        font-family: $secondaryFont;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: $textSecondary;
        }
      }

      .file-input {
        display: none;
      }

      .file-upload-text {
        font-family: $secondaryFont;
        color: $textPrimary;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .submit-button {
      font-family: $secondaryFont;
      font-weight: 400;
      color: $textPrimary;
      font-size: 15px;
      background-color: #009cdf8c;
      border: none;
      padding: 0.6rem 1.4rem;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: $textTertiary;
        transform: scale(1.02);
      }
    }
  }
}
@media screen and (max-width: 1150px) {
  .form-container {
    width: 70%;

    .form {
      gap: 1.5rem;

      .input,
      .textarea,
      .file-input {
        font-size: 14px;
      }

      .file-upload-wrapper {
        font-size: 14px;
      }
      .submit-button {
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .form-container {
    width: 90%;

    .form {
      gap: 1rem;

      .input,
      .textarea,
      .file-input {
        font-size: 13px;
      }

      .file-upload-wrapper {
        font-size: 13px;
      }
      .submit-button {
        font-size: 13px;
      }
    }
  }
}
