@use "../config/base" as *;

.dropdown-banner {
  background-color: $textSecondary;
  color: $textPrimary;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1001;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, height 0.3s ease;
  font-family: $primaryFont;

  &.expanded {
    padding: 1rem 2rem;
    height: auto;
    cursor: pointer;

    .banner-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      position: relative;
      width: 500px;

      .headline {
        font-size: 22px;
        font-weight: 700;
        color: $textPrimary;
      }

      .subheadline {
        font-size: 16px;
        font-weight: 400;
        width: 400px;
        padding-bottom: 15px;
      }

      .banner-button {
        background: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(10px);
        color: $textPrimary;
        border: 2px solid rgba(255, 255, 255, 0.3);
        padding: 0.4rem 1.4rem;
        font-size: 13px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
          background: rgba(68, 135, 186, 0.414);
          backdrop-filter: blur(15px);
          border-color: rgba(255, 255, 255, 0.6);
        }
      }

      .close-button {
        position: absolute;
        top: 0;
        right: 0;
        background: transparent;
        border: none;
        color: $textPrimary;
        font-size: 26px;
        cursor: pointer;
        padding: 0;
        line-height: 1;

        &:hover {
          color: lighten($textPrimary, 10%);
        }
      }
    }
  }

  &.stacked {
    height: 30px;
    padding: 0.2rem 2rem;

    .banner-content {
      display: none;
    }

    .toggle-button {
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;

      svg {
        width: 24px;
        height: 24px;
        color: $textPrimary;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .dropdown-banner {
    &.expanded {
      .banner-content {
        width: 300px;
        .headline {
          font-size: 16px;
        }

        .subheadline {
          font-size: 12px;
          width: 270px;
        }

        .banner-button {
          font-size: 12px;
          padding: 0.5rem 1rem;
        }

        .close-button {
          font-size: 18px;
          top: 0;
          right: 0;
        }
      }
    }

    &.stacked {
      .toggle-button {
        font-size: 16px;

        .arrow-icon {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
