@use "../config/base" as *;

.footer-container {
  background-color: #1d1d1d;
  color: $textPrimary;
  padding: 2.5rem 1.5rem;
  display: flex;
  flex-direction: column;

  .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1400px;
    margin-bottom: 1rem;
    gap: 5rem;
    padding: 0 4rem;

    .footer-brand,
    .footer-nav,
    .footer-contact,
    .footer-social {
      flex: 1;
      text-align: left;
      margin-bottom: 1rem;

      .footer-title {
        font-size: 22px;
        font-family: $secondaryFont;
        margin-bottom: 2rem;
        color: $textSecondary;
        font-weight: 300;
      }

      .footer-links {
        list-style: none;
        padding: 0;

        .footer-link-item {
          margin-bottom: 0.5rem;

          a {
            color: $textLightContrast;
            font-family: $secondaryFont;
            font-size: 16px;
            font-weight: 300;
            text-decoration: none;
            transition: color 0.3s ease;

            &:hover {
              color: $textPrimary;
            }
          }
        }
      }

      .footer-contact-text {
        color: $textLightContrast;
        margin-bottom: 0.5rem;
        font-family: $secondaryFont;
        font-size: 16px;
        font-weight: 300;
      }

      .social-icons {
        display: flex;
        gap: 1rem;

        .social-icon {
          width: 30px;
          height: 30px;
          filter: brightness(0.8);
          transition: filter 0.3s, transform 0.3s;

          &:hover {
            filter: brightness(1);
          }
        }
      }
    }

    .footer-brand {
      .footer-logo {
        width: 200px;
        margin-bottom: 2rem;
      }

      .footer-moto {
        font-size: 20px;
        font-family: $primaryFont;
        font-weight: 300;
        font-style: italic;
        color: $textLightContrast;
      }
    }
  }

  .footer-bottom {
    border-top: 1px solid #333;
    padding-top: 1.5rem;
    width: 100%;
    text-align: center;

    .footer-copy {
      font-size: 14px;
      color: $textLightContrast;
      font-family: $secondaryFont;
    }
  }
}
