@use "../config/base" as *;

.footer-container {
  background-color: $secondaryColor;
  color: $textPrimary;
  padding: 2.5rem 1.5rem;
  display: flex;
  flex-direction: column;

  .footer-legal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin: 1rem 0;

    .footer-legal-link {
      color: $textLightContrast;
      font-family: $secondaryFont;
      font-size: 14px;
      font-weight: 400;
      text-decoration: none;
      transition: color 0.3s ease, text-decoration 0.3s ease;

      &:hover {
        color: $textPrimary;
        text-decoration: underline;
      }
    }
  }

  .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 1rem;
    gap: 2rem;
    padding: 0 2rem;

    .footer-brand,
    .footer-nav,
    .footer-contact,
    .footer-social {
      text-align: center;
      margin-bottom: 1rem;

      .footer-title {
        font-size: 20px;
        font-family: $secondaryFont;
        margin-bottom: 2rem;
        color: $textSecondary;
        font-weight: 300;
      }

      .footer-links {
        list-style: none;
        padding: 0;
        color: $primaryFont;

        .footer-link-item {
          margin-bottom: 0.5rem;
          color: $primaryFont;

          a {
            color: $textLightContrast;
            font-family: $secondaryFont;
            font-size: 14px;
            font-weight: 300;
            text-decoration: none;
            transition: color 0.3s ease, text-decoration 0.3s ease;

            &:hover {
              color: $textPrimary;
              text-decoration: underline;
            }
          }
        }
      }

      .footer-contact-text {
        display: flex;
        flex-direction: column;
        color: $textLightContrast;
        margin-bottom: 0.5rem;
        text-decoration: none;
        font-family: $secondaryFont;
        font-size: 14px;
        font-weight: 300;
        transition: color 0.3s ease;

        &:hover {
          color: $textPrimary;
        }
      }

      .social-icons {
        display: flex;
        gap: 1rem;

        .social-icon {
          width: 25px;
          height: 25px;
          filter: brightness(0.8);
          transition: filter 0.3s, transform 0.3s;

          &:hover {
            filter: brightness(1);
            transform: scale(1.1);
          }
        }
      }
    }

    .footer-brand {
      .footer-logo {
        width: 160px;
        margin-bottom: 2rem;
      }

      .footer-moto {
        font-size: 18px;
        line-height: 1.4;
        white-space: pre-line;
        font-family: $primaryFont;
        font-weight: 300;
        color: $textLightContrast;
      }
    }
  }

  .footer-bottom {
    border-top: 1px solid #333;
    padding-top: 1.5rem;
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .footer-copy {
      font-size: 14px;
      color: $textLightContrast;
      font-family: $secondaryFont;
    }

    .footer-legal-links {
      display: flex;
      gap: 10px;

      .footer-link {
        color: $textPrimary;
        font-size: 13px;
        font-family: $primaryFont;
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  .footer-container {
    .footer-top {
      .footer-contact,
      .footer-nav,
      .footer-social {
        .footer-title {
          font-size: 18px;
        }
      }
      .footer-contact .footer-contact-text {
        font-size: 14px;
      }

      .footer-nav .footer-links .footer-link-item a {
        font-size: 14px;
      }

      .footer-social .social-icons {
        gap: 10px;
        flex-direction: row;

        .social-icon {
          width: 22px;
          height: 22px;
        }
      }
    }

    .footer-bottom {
      .footer-copy {
        font-size: 13px;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .footer-container {
    .footer-top {
      gap: 2rem;
      justify-content: space-around;
      .footer-brand {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .footer-container {
    .footer-top {
      padding: 0 1rem;

      .footer-contact,
      .footer-nav,
      .footer-social {
        .footer-title {
          font-size: 16px;
        }
      }

      .footer-contact .footer-contact-text {
        font-size: 13px;
      }

      .footer-nav .footer-links .footer-link-item a {
        font-size: 13px;
      }

      .footer-social .social-icons {
        gap: 4px;
        flex-direction: column;

        .social-icon {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .footer-container {
    .footer-top {
      flex-direction: column;
      align-items: center;

      .footer-nav {
        display: none;
      }

      .footer-contact {
        .footer-title {
          font-size: 20px;
        }

        .footer-contact-text {
          font-size: 15px;
        }
      }

      .footer-social {
        .footer-title {
          font-size: 20px;
        }
        .social-icons {
          gap: 10px;
          align-items: center;
          flex-direction: row;

          .social-icon {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}
