.navigation {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  &.scrolled {
    background-color: black;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Subtle shadow when scrolling */
  }

  .navigation-container {
    margin: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    .mobile {
      display: none;
    }

    .nav-box-logo {
      display: flex;
      align-items: center;

      img {
        height: 70px;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.1); /* Slight zoom on logo hover */
        }
      }
    }

    .nav-box-sections {
      display: flex;
      justify-content: space-between;
      gap: 3rem;

      .nav-link {
        text-decoration: none;
        color: $textPrimary;
        font-size: 14px;
        font-family: $secondaryFont;
        position: relative;

        // &:hover {
        //   color: $textLightContrast;
        // }

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -3px;
          width: 0;
          height: 0.8px;
          background-color: $textSecondary;
          transition: width 0.3s ease;
        }

        &:hover::after {
          width: 100%;
        }
      }

      .nav-box-languages {
        display: none;
      }
    }

    .nav-box-languages {
      display: flex;
      gap: 2rem;
      cursor: pointer;

      button {
        background-color: transparent;
        border: none;
        height: 60px;
        cursor: pointer;
        transition: transform 0.3s ease;

        &:hover {
          transform: rotate(10deg);
        }

        img {
          height: 30px;
        }
      }
    }

    .nav-box-toggle {
      display: none;
      flex-direction: column;
      justify-content: space-between;
      height: 20px;
      cursor: pointer;
      transition: transform 0.3s ease;

      &:hover {
        transform: rotate(90deg);
      }

      .burger-icon {
        width: 30px;
        height: 30px;
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  .navigation .navigation-container {
    .nav-box-logo img {
      width: 50px;
      height: auto;
    }

    .nav-box-sections .nav-link {
      font-size: 14px;
    }

    .nav-box-languages {
      gap: 1rem;

      button {
        width: 50px;

        img {
          width: 25px;
          height: auto;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .navigation {
    .navigation-container {
      flex-direction: column;
      align-items: flex-start;
      margin: 0;
      background-color: black;
      width: 100;
      padding: 1rem 2rem;

      .mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .nav-box-logo {
          display: flex;
        }
      }

      .nav-box-logo {
        display: none;
      }

      .nav-box-sections {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 2rem;
        padding: 2rem 0;

        &.open {
          display: flex;

          .nav-box-languages {
            display: flex;
          }
        }
      }

      .nav-box-languages {
        display: none;
      }

      .nav-box-toggle {
        background-color: transparent;
        border: none;
        display: flex !important;
      }
    }
  }
}
