$textPrimary: #ffffff;
$textSecondary: #00b2df;
$textTertiary: #0383aa;
$textLightContrast: #d4d4d4;

$primaryColor: #000000;

$primaryFont: "Plus Jakarta Sans", sans-serif;
$secondaryFont: "Lato", sans-serif;
