$textPrimary: #ffffff;
$textSecondary: #00b2df;
$textTertiary: #2389b5;
$textTertiaryTransparent: mix(#2389b5, transparent, 70%);
$textLightContrast: #d4d4d4;
$gradient: radial-gradient(circle, #ffff, #00b2df, #22304b);

$primaryColor: #000000;
$secondaryColor: #22304b;

$primaryFont: "Noto Serif Display", serif;
$secondaryFont: "Montserrat", sans-serif;
// $tertiaryFont: "PT Sans", sans-serif;
