$textPrimary: #ffffff;
$textSecondary: #00b2df;
$textTertiary: #196688;
$textLightContrast: #a8b1c0;
$gradient: radial-gradient(circle, #ffff, #00b2df, #22304b);

$primaryColor: #000000;
$secondaryColor: #22304b;

$primaryFont: "Open Sans", sans-serif;
$secondaryFont: "Barlow Condensed", sans-serif;
$tertiaryFont: "PT Sans", sans-serif;

// $primaryFont: "Oswald", sans-serif;
// $secondaryFont: "Lato", sans-serif;
// $tertiaryFont: "Noto Serif Display", serif;
