.main-screen {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
  cursor: default;
  // overflow-y: scroll;
  // overflow-x: hidden;
  background-color: $primaryColor;
}
