@use "../config/base" as *;

.about-section {
  display: flex;
  flex-direction: row;
  padding: 10%;
  gap: 15%;
  position: relative;
  height: 120vh; // Adjust height dynamically based on content

  .subtitle-container {
    width: 40%;
    position: sticky;
    top: 10%; // Sticky effect to keep subtitle pinned
    display: flex;
    flex-direction: column;

    h2 {
      font-family: $primaryFont;
      font-size: 50px;
      font-weight: 800;
      color: $textSecondary;
      margin-bottom: 1.5rem;
    }

    p {
      font-family: $primaryFont;
      font-size: 20px;
      font-weight: 300;
      color: $textPrimary;
      line-height: 1.6;
      font-style: italic;
    }
  }

  .reasons-container {
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 6rem;

    .reason {
      opacity: 0;
      transform: translateY(50px);
      transition: transform 0.5s ease, opacity 0.5s ease;

      &.visible {
        opacity: 1;
        transform: translateY(0);
      }

      h3 {
        font-family: $primaryFont;
        font-size: 24px;
        text-transform: capitalize;
        color: $textPrimary;
        font-weight: 400;
        margin-bottom: 1rem;
      }

      p {
        font-family: $secondaryFont;
        font-size: 18px;
        color: $textLightContrast;
        line-height: 1.4;
        font-weight: 300;
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  .about-section {
    flex-direction: column;
    padding: 5%;
    gap: 5%;

    .subtitle-container {
      width: 100%;
      text-align: center;

      h2 {
        font-size: 44px;
        margin-bottom: 1rem;
      }

      p {
        font-size: 18px;
        font-style: normal;
      }
    }

    .reasons-container {
      width: 100%;
      gap: 4rem;
      align-items: center;
      text-align: center;

      .reason {
        h3 {
          font-size: 24px;
          font-weight: 600;
        }

        p {
          width: 550px;
          font-size: 18px;
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .about-section {
    padding-top: 4rem;
    gap: 4rem;
    height: auto;

    .subtitle-container {
      align-items: center;
      position: relative;

      h2 {
        font-size: 32px;
      }

      p {
        width: 95%;
        font-size: 16px;
        font-weight: 400;
      }
    }

    .reasons-container {
      .reason {
        h3 {
          font-size: 20px;
        }

        p {
          width: 300px;
          font-size: 16px;
          font-weight: 400;
        }
      }
    }
  }
}
