.about-section {
  display: flex;
  flex-direction: row;
  height: 200vh; // Ensure enough space for scrolling
  padding: 10%;
  width: 100vw;

  .subtitle-container {
    position: sticky;
    top: 20%; // Ensures the subtitle stays visible when scrolling
    align-self: flex-start; // Keeps the subtitle aligned at the top
    width: 50%;
    font-family: "Oswald", sans-serif;
    font-size: 40px;
    color: $textPrimary;
    text-transform: uppercase;
    border-right: 2px solid $textSecondary;
  }

  .reasons-container {
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 2rem;
    margin-top: 50px; // Space before the reasons start appearing

    .reason {
      background-color: transparent;
      padding: 2rem;
      opacity: 0; // Initially hidden
      transform: translateY(50px); // Slide up effect
      transition: transform 0.3s ease, opacity 0.3s ease;

      h3 {
        font-family: "Oswald", sans-serif;
        font-size: 1.75rem;
        color: $textSecondary;
        margin-bottom: 1rem;
      }

      p {
        font-family: "Lato", sans-serif;
        font-size: 1.125rem;
        line-height: 1.6;
        color: $textLightContrast;
      }
    }
  }
}
