@use "../config/base" as *;

.about-section {
  display: flex;
  flex-direction: row;

  height: 170vh;
  padding: 10%;
  gap: 15%;
  position: relative;

  .subtitle-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    position: relative; // Fixed pinning behavior
    top: 0;

    h2 {
      font-family: $primaryFont;
      font-size: 50px;
      font-weight: 800;
      color: $textSecondary;
      margin-bottom: 1.5rem;
    }

    p {
      font-family: $primaryFont;
      font-size: 20px;
      font-weight: 300;
      color: $textPrimary;
      line-height: 1.6;
      font-style: italic;
    }
  }

  .reasons-container {
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 8rem;

    .reason {
      opacity: 0;
      transform: translateY(50px);
      transition: transform 0.5s ease, opacity 0.5s ease;

      h3 {
        font-family: $primaryFont;
        font-size: 30px;
        text-transform: capitalize;
        color: $textPrimary;
        font-weight: 400;
        margin-bottom: 1rem;
      }

      p {
        font-family: $secondaryFont;
        font-size: 20px;
        color: $textLightContrast;
        line-height: 1.4;
        font-weight: 300;
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  .about-section {
    flex-direction: column;
    height: auto;
    padding: 5%;
    gap: 5%;

    .subtitle-container {
      width: 100%;
      margin-bottom: 2rem;
      text-align: center;

      h2 {
        font-size: 44px;
        margin-bottom: 1rem;
      }

      p {
        font-size: 18px;
        font-style: normal;
      }
    }

    .reasons-container {
      width: 100%;
      gap: 5rem;

      .reason {
        h3 {
          font-size: 26px;
        }

        p {
          font-size: 18px;
        }
      }
    }
  }
}
// Responsive for screen widths 550px and below
@media screen and (max-width: 550px) {
  .about-section {
    padding: 5%;
    gap: 2rem;

    .subtitle-container {
      h2 {
        font-size: 32px;
      }

      p {
        font-size: 16px;
      }
    }

    .reasons-container {
      gap: 3rem;

      .reason {
        h3 {
          font-size: 22px;
        }

        p {
          font-size: 16px;
        }
      }
    }
  }
}
