@use "../config/base" as *;

.brochures-section {
  text-align: center;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5%;
  color: $textPrimary;
  font-family: $primaryFont;

  .section-title {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 0.5rem;
  }

  .section-subtitle {
    margin-bottom: 4rem;
    font-size: 20px;
    font-weight: 600;
    color: $textSecondary;
  }

  .brochures-container {
    display: flex;
    justify-content: center;
    gap: 4rem;

    .brochure-card {
      background: $textPrimary;
      color: $primaryColor;
      font-family: $primaryFont;
      width: 300px;
      height: 300px;
      text-align: center;

      .card-cover {
        padding: 1rem;
        width: 100%;
        height: 100%;
      }
      .brochure-title {
        font-size: 22px;
        font-weight: bold;
        padding: 0.8rem 0;
      }

      .brochure-text {
        font-size: 16px;
        padding-bottom: 2rem;
      }
      .download-btn {
        display: inline-block;
        margin-top: 1rem;
        font-size: 14px;
        padding: 10px 30px;
        background: black;
        color: white;
        text-decoration: none;
        border-radius: 5px;

        &:hover {
          background: #037dd1;
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .brochures-section {
    height: 120vh;
    .section-title {
      font-size: 20px;
      width: 80%;
    }
    .section-subtitle {
      margin-bottom: 2rem;
      font-size: 18px;
    }
    .brochures-container {
      flex-direction: column;
      gap: 2rem;
      .brochure-card {
        width: 100%;
        height: auto;

        .card-cover {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: end;
        }
        .brochure-title {
          font-size: 18px;
        }
        .brochure-text {
          font-size: 14px;
          padding-bottom: 1rem;
        }
        .download-btn {
          padding: 10px 20px;
        }
      }
    }
  }
}
