@use "../config/base" as *;

.contact-section {
  padding: 5rem 2rem;
  background-color: $primaryColor;
  color: $textPrimary;
  font-family: $secondaryFont;

  .contact-heading {
    text-align: center;
    margin-bottom: 6rem;

    .contact-title {
      font-size: 70px;
      font-weight: 600;
      color: $textTertiary;
      margin-bottom: 1rem;
    }

    .contact-description {
      font-size: 24px;
      font-weight: 300;
      font-family: $primaryFont;
      max-width: 600px;
      margin: 0 auto;
      color: $textPrimary;
    }
  }

  .contact-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;

    .contact-details {
      flex: 1;
      min-width: 300px;

      .contact-subheading {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
        color: #00b2df;
      }

      .contact-row {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;

        .contact-icon {
          width: 24px;
          height: 24px;
        }

        .contact-text {
          font-size: 1.1rem;
          color: #e0e0e0;
        }
      }

      .social-media-icons {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;

        .social-icon {
          width: 30px;
          height: 30px;
          cursor: pointer;
          transition: transform 0.3s;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  .contact-form {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 400px;
  }
}

@media screen and (max-width: 550px) {
  .contact-section {
    // height: auto;
    .contact-container {
      .contact-text {
        align-items: flex-start;
        .subtitle-container {
          align-items: flex-start;
          text-align: start;
          justify-content: flex-start;
          gap: 0;
          line-height: 38px;
          .contact-subtitle {
            font-size: 26px;
            font-weight: 500;
          }
        }
      }

      .contact-info {
        flex-direction: column;
        margin: 0 5%;
        .contact-info-container {
          height: 500px;
          width: 80%;
          padding: 2rem;
          gap: 2rem;

          .link-row {
            display: flex;
            justify-content: space-between;
            padding-top: inherit;

            img {
              color: $textPrimary;
              width: 40px;
            }
          }

          .row {
            img {
              width: 20px;
            }
            .contact-information {
              font-size: 16px;
            }
          }
        }
        .contact-form-container {
          width: 100%;
        }
      }
    }
  }
}
