@use "../config/base" as *;

.home-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;

  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; // Ensures the video covers the entire section
    z-index: 1; // Places the video behind the content
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(
      0,
      0,
      0,
      0.5
    ); // Adjust opacity with the alpha value (0.0 to 1.0)
    z-index: 2; // Place it above the video
  }

  .home-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 10%;
    padding-top: 4rem;
    z-index: 3;

    .home-title,
    .home-subtitle,
    .home-text,
    .home-subtext {
      color: $textPrimary;
      font-family: $primaryFont;
      font-weight: 400;
    }

    .home-title {
      font-size: 20px;
    }
    .home-divider {
      width: 430px;
      margin-top: 3px;
      height: 1px;
      background-color: $textSecondary;
    }
    .home-subtitle {
      font-weight: 600;
      font-size: 34px;
      padding: 1.5rem 0;
    }

    .home-text {
      font-size: 18px;
      line-height: 1.4;
      padding-top: 10px;
      font-weight: 100;
    }

    .home-subtext {
      font-size: 20px;
      text-transform: capitalize;
      font-weight: 600;
      letter-spacing: 1px;
      padding: 2rem 0;
    }

    /* CSS */
    .home-button {
      font-size: 14px;
      font-family: $primaryFont;
      font-weight: 100;
      padding: 13px 20px 13px;
      outline: 0;
      color: $textPrimary;
      border: 1px solid #006cdf8f;
      cursor: pointer;
      position: relative;
      background-color: rgba(0, 0, 0, 0.3);
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
        rgba(0, 0, 0, 0.5) 0px 18px 36px -18px inset;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }

    .home-button:after {
      content: "";
      background-color: $textSecondary;
      width: 100%;
      z-index: -1;
      position: absolute;
      height: 100%;
      top: 7px;
      left: 7px;
      transition: 0.2s;
    }

    .home-button:hover:after {
      top: 0px;
      left: 0px;
    }
  }
}

@media screen and (max-width: 1150px) {
  .home-section {
    .depth-layer {
      width: 25%;
      left: 70%;
    }
    .home-container {
      width: 50%;
      .home-subtitle {
        font-size: 50px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .home-section {
    .depth-layer {
      display: none;
    }
    .home-container {
      width: 60%;
      .home-subtitle {
        font-size: 40px;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .home-section {
    background-image: url(../../assets/images/MainBckg.png);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    align-items: center;
    text-align: center;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(
        0,
        0,
        0,
        0.4
      ); // Adjust opacity with the alpha value (0.0 to 1.0)
      z-index: 1; // Place it above the background
    }

    // Ensure content stays above the overlay
    > * {
      position: relative;
      z-index: 2;
    }

    .background-video {
      display: none;
    }
    .home-container {
      width: 60%;

      .home-subtitle {
        font-size: 30px;
      }
      .home-text {
        font-size: 16px;
        font-weight: 500;
        color: $textPrimary;
      }
    }
    .home-button {
      padding: 10px 15px 10px;
      font-size: 12px;
      font-weight: 500;
    }
  }
}
