@use "../config/base" as *;

.legal-section {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
  position: relative;
  background-color: $primaryColor; // Adjust to your primary background color
  color: $textPrimary;

  .legal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1;

    h1 {
      font-size: 2.5rem;
      font-family: $primaryFont;
      font-weight: bold;
      text-align: center;
      margin-bottom: 1.5rem;
      color: $textPrimary; // Highlighted color for headers
      z-index: 1;
    }

    p,
    ol,
    ul {
      font-size: 1rem;
      font-family: $secondaryFont;
      line-height: 1.6;
      margin-bottom: 1.5rem;
      color: $textPrimary;
      max-width: 800px;
      text-align: justify;
      z-index: 1;

      a {
        color: $textLightContrast;
        text-decoration: underline;
        transition: color 0.3s ease;

        &:hover {
          color: $textSecondary;
        }
      }
    }

    ol {
      list-style: decimal;
      padding-left: 1.5rem;

      li {
        color: $textPrimary;
        margin-bottom: 1rem;

        ul {
          list-style: disc;
          padding-left: 1.5rem;

          li {
            color: $textPrimary;
            margin-bottom: 0.5rem;
          }
        }
      }
    }

    ul {
      list-style: disc;
      padding-left: 1.5rem;

      li {
        margin-bottom: 0.5rem;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  p,
  ol,
  ul {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.8rem;
  }

  p,
  ol,
  ul {
    font-size: 0.8rem;
  }
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
