@use "../config/base" as *;

.service-section {
  height: auto;
  position: relative;
  padding: 0 10% !important;
  overflow: hidden;

  .service-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-top: 6rem;
    z-index: 10;

    .service-text {
      padding-bottom: 2rem;
      width: 90%;

      .subtitle-container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .service-subtitle {
          font-weight: 600;
          font-size: 50px;
          color: $textPrimary;
          font-family: $primaryFont;
          margin-bottom: 1rem;
        }

        .service-description {
          font-family: $secondaryFont;
          font-size: 20px;
          font-style: italic;
          line-height: 1.4;
          color: $textPrimary;
          margin: 1rem 0;
          font-weight: 400;
        }
      }
    }

    .service-cards {
      display: flex;
      gap: 3rem;
      width: 100%;
      overflow-x: auto; // Enable horizontal scrolling

      .service-card {
        flex-shrink: 0;
        margin: 2px;
        scroll-snap-align: start;
        width: 600px;
        height: 250px;
        padding: 3%;
        background-color: #000000bb; // Semi-transparent background
        text-align: center;
        position: relative;
        overflow: hidden; // Prevent overflow
        border: 1px solid transparent;

        // Add the glowing effect with pseudo-elements
        &::before {
          content: "";
          position: absolute;
          top: -10px;
          left: -10px;
          right: -10px;
          bottom: -10px;
          background: radial-gradient(
            ellipse at center,
            rgba(0, 178, 223),
            rgba(0, 0, 0, 0)
          );
          filter: blur(30px); // Smooth glow
          z-index: -1; // Place behind the content
        }

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          border: 1px solid rgba(0, 178, 223);
          border-radius: 8px; // Rounded edges for a smoother glow
          filter: blur(20px); // Slightly less blur than ::before
          z-index: -1; // Place behind the content
        }

        // Animation for a subtle pulsing effect
        animation: glowPulse 2s infinite;

        @keyframes glowPulse {
          0% {
            box-shadow: 0 0 5px 2px rgba(0, 178, 223, 0.9);
          }
          25% {
            box-shadow: 0 0 5px 2px rgba(0, 178, 223, 0.8);
          }
          50% {
            box-shadow: 0 0 5px 2px rgba(0, 178, 223, 0.7);
          }
          100% {
            box-shadow: 0 0 5px 2px rgba(0, 178, 223, 0.8);
          }
        }

        .card-title {
          font-size: 24px;
          font-family: $secondaryFont;
          font-weight: 600;
          color: $textPrimary;
          margin-bottom: 1rem;
        }

        .card-details {
          font-size: 18px;
          font-family: $secondaryFont;
          font-weight: 400;
          color: $textLightContrast;
        }
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .service-section {
    .service-text {
      .service-container {
        .service-cards .service-card {
          width: 350px;

          .card-title {
            font-size: 20px;
          }

          .card-details {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .service-section {
    .service-container {
      padding-top: 2rem;
      .service-text {
        .subtitle-container {
          .service-subtitle {
            font-size: 30px;
          }

          .service-description {
            font-size: 16px;
          }
        }
      }

      .service-cards .service-card {
        width: 300px;
        padding: 8%;

        .card-title {
          font-size: 20px;
        }

        .card-details {
          font-size: 15px;
        }
      }
    }
  }
}
