@use "../config/base" as *;

.service-section {
  background: url("../../assets/images/Brending.png");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;

  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .service-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 10%;
    padding-top: 6rem;

    .service-text {
      padding-bottom: 2rem;
      width: 30%;

      .subtitle-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;

        .service-subtitle {
          font-weight: 600;
          font-size: 50px;
          color: $textPrimary;
          font-family: $primaryFont;
          margin-bottom: 1rem;
        }

        .service-description {
          font-family: $secondaryFont;
          font-size: 20px;
          font-style: italic;
          line-height: 1.4;
          color: $textPrimary;
          margin: 1rem 0;
          font-weight: 400;
        }
      }
    }

    .service-cards {
      display: flex;
      gap: 3rem;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
      padding: 2rem 0;

      /* Hide scrollbar */
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none; /* IE 10+ */
    }

    .service-cards::-webkit-scrollbar {
      display: none; /* Chrome, Safari */
    }
  }
}

@media screen and (max-width: 1050px) {
  .service-section .service-container {
    padding-top: 7rem;
    .service-text {
      width: 25%;
    }
  }
}

@media screen and (max-width: 950px) {
  .service-section .service-container .service-text {
    width: 16%;

    .subtitle-container .service-subtitle {
      font-size: 40px;
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 550px) {
  .service-section .service-container {
    padding-top: 4rem;
    .service-cards {
      padding: 1rem 0;
    }
    .service-text {
      width: 15%;

      .subtitle-container {
        .service-subtitle {
          font-size: 30px;
        }
        .service-description {
          font-size: 16px;
        }
      }
    }
  }
}
