@use "../config/base" as *;

.service-section {
  background-color: $primaryColor;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;

  .service-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 10%;
    padding-top: 4rem;

    .service-text {
      height: 240px;
      .subtitle-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 3rem;
        width: 60%;

        .service-subtitle {
          font-weight: 600;
          font-size: 70px;
          color: $textPrimary;
          font-family: $secondaryFont;
        }

        .service-description {
          font-family: $primaryFont;
          font-size: 24px;
          font-style: italic;
          color: $textLightContrast;
          margin: 0.8rem 0;
          font-weight: 300;
        }

        // .subtitle-line {
        //   height: 1px;
        //   background-color: $textSecondary;
        //   margin-top: 0.5rem;
        //   width: 78%;
        // }
      }
    }

    .service-cards {
      display: flex;
      gap: 3rem;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
      padding: 2rem 0;

      /* Hide scrollbar */
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none; /* IE 10+ */
    }

    .service-cards::-webkit-scrollbar {
      display: none; /* Chrome, Safari */
    }
  }
}
