@use "../config/base" as *;

.workflow-section {
  height: 100vh !important;
  width: 100vw;
  overflow: hidden;
  position: relative;

  background-image: url(../../assets/images/1.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  // .horizontal-worm-container {
  //   display: none;
  //   filter: drop-shadow(0 0 10px rgba(0, 178, 223, 0.888));
  //   position: absolute;
  //   top: 10%;
  //   left: 0;
  //   width: 100vw;
  //   height: 150px;
  //   z-index: 10; // Adjust this if necessary
  // }

  // #horizontal-worm {
  //   z-index: 20;
  // }

  // #worm-logo {
  //   position: absolute;
  //   z-index: 1;
  //   transform: translate(-50%, -50%);
  //   img {
  //     width: 50px;
  //     height: 50px;
  //     border-radius: 50%;
  //     object-fit: contain;
  //   }
  // }

  .subsections-container {
    display: flex;
    flex-direction: row; /* Horizontal layout for subsections */
    height: 100vh;
    width: calc(100vw * 4);
    width: max-content;
    position: absolute;

    .subsection {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      text-align: center;
      font-family: $secondaryFont;

      h3 {
        font-size: 30px;
        font-weight: bold;
        color: $textTertiary;
        margin-bottom: 1rem;
        padding-top: 2rem;
      }

      p {
        font-size: 20px;
        font-weight: 300;
        color: $textPrimary;
        max-width: 400px;
        line-height: 1.4;
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  .workflow-section {
    .horizontal-worm-container #worm-logo {
      display: none;
    }
    .subsections-container .subsection {
      h3 {
        font-size: 30px;
      }
      p {
        font-size: 18px;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .workflow-section {
    background-size: cover;
    .subsections-container {
      .subsection {
        gap: 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        padding-left: 4rem;

        h3 {
          margin: 0;
        }

        p {
          font-size: 16px;
          max-width: 80%;
          line-height: 1.4;
          font-weight: 400;
        }
      }
    }
  }
}
