@use "../config/base" as *;

.workflow-section {
  height: 100vh !important;
  width: 100vw;
  overflow: hidden;
  position: relative;

  .horizontal-worm-container {
    filter: drop-shadow(0 0 10px rgba(0, 178, 223, 0.8));
    position: absolute;
    top: 10%;
    left: 0;
    width: 100vw;
    height: 150px;
    z-index: 10; // Adjust this if necessary
  }

  #horizontal-worm {
    z-index: 20;
  }

  #worm-logo {
    position: absolute;
    z-index: 10;
    top: 78px;
    left: 0;
    transform: translate(-50%, -50%);
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: contain;
    }
  }

  .subsections-container {
    display: flex;
    flex-direction: row; /* Horizontal layout for subsections */
    height: 100vh;
    width: calc(100vw * 4);
    width: max-content;
    position: absolute;

    .subsection {
      // background-image: url(../../assets/images/WorkflowBckg.png);
      // background-position: center;
      // background-size: cover;
      // background-repeat: no-repeat;
      width: 100vw;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding-top: 4rem;
      font-family: $secondaryFont;

      h3 {
        font-size: 40px;
        font-weight: bold;
        color: $textTertiary;
        margin-bottom: 1rem;
        padding-top: 4rem;
      }

      p {
        font-size: 22px;
        font-weight: 300;
        color: $textPrimary;
        max-width: 500px;
        line-height: 1.4;
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  .workflow-section {
    .horizontal-worm-container #worm-logo {
      display: none;
    }
    .subsections-container .subsection {
      h3 {
        font-size: 30px;
      }
      p {
        font-size: 18px;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .workflow-section {
    .subsections-container {
      .subsection {
        h3 {
          padding: 5%;
        }

        p {
          font-size: 16px;
          max-width: 60%;
          line-height: 1.4;
          font-weight: 400;
        }
      }
    }
  }
}
